/* Full body styles */

body {
    padding: 30px 140px;
    width: 1600px;
    background-color: #FFF;
}

/* header section */

.banner {
    width: 1320px;
    height: 600px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 127px 344px;

}


.banner-titles {
    text-align: center;
    max-width: 630px;

}

.new-year-wish {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;

}

/* main's first section styles */

.first-section {
    width: 1320px;
    text-align: center;
    font-family: Inter;
    position: relative;
    bottom: 200px;
}

#discount {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

#feature {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
}

#categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
}

#new-year-pic {
    width: 800px;
    height: 500px;
}

/* #new-year-pic:hover {

    border-radius: 60%;
    box-shadow: rgb(56, 56, 119);
} */

/* 2nd section styles */
.second-section {
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 0;
    padding-top: 0px;
    padding-left: 126px;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;


}

.welcome-notes {
    max-width: 697px;
}

#welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 5px;
}

#welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

#btn-no-1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    background: none;
}

.second-section img {
    width: 320px;
    height: 464px;
}

/* third section styles */
.third-section {
    width: 1320px;
    height: 440px;
    background-image: linear-gradient(180deg, rgba(246, 246, 251, 0.222), rgba(135, 207, 235, 0.368));
    border-radius: 10px;
    margin-top: 120px;
    padding-top: 100px;

}

.third-section-text {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.third-section-title {
    color: #F00;
    margin-bottom: 100px;
}

.third-section-value {
    color: #070211;
    margin-bottom: 100px;
}

.btn-no-2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #F00;
    padding: 15px 32px;

}

/* fourt section style */
.fourth-section {
    width: 1320px;
    height: 463px;
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 120px;
}

.best-offer {
    width: 393px;
}

.best-offer * {
    margin: 0;
}

.best-offer-heading {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.best-offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.best-offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.best-offer-add-logo {
    width: 463px;
}

.best-offer-add-logo img {
    width: 365px;
    height: 365px;
    padding: 49px;
    border-radius: 50%;
    border: 15px solid #F00;


}

.new-year-greeting {
    width: 276px;
}

.new-year-greeting * {
    margin: 0;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.greeting-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* fifth section */
.fifth-section {
    width: 1320px;
    margin-top: 120px;
}

.fifth-section * {
    margin: 0;
}

.holidays-discount {
    width: 1068px;
    text-align: center;
    margin-left: 126px;
    margin-bottom: 70px;
}

.discount-caption {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.discount-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 20px;
}

#holidays {
    color: #F00;
}

#sale {
    color: #070211;
}

.discount-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.gift-package {
    display: flex;
    position: relative;
    top: 47px;
    left: 207px;
}

#gift-box {
    width: 450px;
    height: 480px;
    position: relative;
    top: 120px;
    /* opacity: 90%; */
}

#seal-of-discount {
    width: 230px;
    height: 230px;
    padding: 2px;
    position: relative;
    left: 120px;
    top: 120px;

}

#happy-girl {
    width: 429px;
    height: 433px;
}

#red-part {
    margin-top: 0;
}

/* sixth section styles */
.sixth-section {
    margin-top: 100px;
}

.portfolio {
    width: 896px;
}

.portfolio * {
    margin: 0;
}

.portfolio-caption {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;

}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.product-pics {
    margin-top: 40px;
}

.products-row1,
.products-row2 {
    display: flex;
}



.product-pics img {
    margin-bottom: 15px;
    margin-right: 15px;
}

.product-pics img:hover {
    border: 5px solid gray;
}

/* seventh style */
.seventh-section {
    width: 1320px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 0;
}

.news-letter-box {
    width: 896px;
    text-align: center;
    padding: 80px 212px 80px 212px;

    /* padding-left: 240px; */
}

.news-letter-box * {
    margin: 0;
}

.mail {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.news-letter-titile {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.news-letter-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
}

.news-letter-box input[type="email"] {
    width: 438px;
    height: 72px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    position: relative;
    left: 10px;

}

.news-letter-box input[type="button"] {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    width: 210px;
    height: 75px;
    background-color: #F00;
    border-radius: 0px 50px 50px 0px;

}

/* footer styles */
footer {
    width: 1600px;
    background-color: #070211;
    position: relative;
    right: 140px;
    padding-bottom: 90px;

}

.address {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 80px 140px;
}

.place {
    width: 375px;
}

footer hr {
    width: 1320px;
    height: 1px;
    border: 1px solid rgb(52, 42, 42);
}

.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 50px 0;
}

.footer {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}